@page {
  margin: 12pt;
  size: portrait;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}
  
* {
  background: none !important;
  color: #222 !important;
}

header {
  margin: 0;
  padding: 0;
}

.header-icon,
.lead,
.details,
.summary,
footer,
button,
.menu {
  display: none;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 16pt;
  text-align: left;
  position: absolute;
  top: -16pt;
  right: 0;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  display: inline-block;							
}

h1:after {
  content: ' (a blitz eBook framework tool)';
  font-size: 10pt;
  display: block;
  opacity: 0.4;
  text-align: right;
}

h2 {
  font-size: 14pt;
  text-align: left;
  margin: 10pt 0 10pt 0;
}

h3 {
  font-size: 11pt;
  text-align: left;
  margin: 10pt 0 10pt 0;
}

.category {
  margin: 30pt 0 0 0;
  padding: 0;
  box-sizing: border-box;
  border-top: 1px solid currentColor
}

.trick {
  margin: 20pt 0 0 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  page-break-inside: avoid;
}

.category:first-child,
.trick:first-child {
  margin: 0;
  border: none;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  border: none;
  padding: 0;
  margin: 0 0 10pt 20pt;
  font-size: 10pt;
}

.wrapper {
  margin: 0;
  padding: 0;
  max-width: none;
}